1  
(list的應用)

In [ ]:
list_1=['a', 'b', 'c']
list_2=['d', 'e', 'f']
list_3=list_1 + list_2
list_4= list_3 * 2
print(list_4)

['a', 'b', 'c', 'd', 'e', 'f', 'a', 'b', 'c', 'd', 'e', 'f']

2   
(變數型別的計算)  
eval函式的輸入是"字串str"型態的數學式，回傳則是數學式計算的結果

In [ ]:
car_dist= float(eval(input("請輸入以公里為單位的行駛距離：")))
run_hour= int(eval(input("請輸入經過的小時數：")))
run_min= int(eval(input("請輸入經過的分鐘：")))
run_time= run_hour + run_min/60
car_speed= car_dist / run_time
print("汽車的時速是：", car_speed, "km/hr")

請輸入以公里為單位的行駛距離：61.1
請輸入經過的小時數：2
請輸入經過的分鐘：30
汽車的時速是： 24.44 km/hr

3  
(變數型別與運算元的應用)  
/ : 除法  
//: 除法取整數  
**: 次方

4    
(變數型別)

In [ ]:
age=12
minor=False
name="David"
weight=64.5
zip = "545"
print(type(age), type(minor), type(name), type(weight), type(zip))

<class 'int'> <class 'bool'> <class 'str'> <class 'float'> <class 'str'>

5    
(變數型別)

In [ ]:
TC=input("請輸入攝氏溫度：")
TF=eval(TC) * (9/5) + 32
message = "攝氏" + TC + "度等於華氏" + str(TF) + "度"
print(message)
print(type(TC), type(TF), type(message))

請輸入攝氏溫度：37
攝氏37度等於華氏98.60000000000001度
<class 'str'> <class 'float'> <class 'str'>

6  
(變數運算型別)

In [ ]:
x1="0"
y1=4
a=x1*y1
print(a, type(a))
x2=8
y2=4
b=x2/y2
print(b, type(b))
x3=10.5
y3=1
c=x3/y3
print(c, type(c))

0000 <class 'str'>
2.0 <class 'float'>
10.5 <class 'float'>

7   
(變數型別)

In [ ]:
print(type(1.0), type(+1E-10), type("False"), type(True))

<class 'float'> <class 'float'> <class 'str'> <class 'bool'>

8    
(dict應用)  
(input輸入型別)

In [ ]:
products = {1: '鉛筆', 2: '橡皮擦'}
id=int(input('輸入產品編號：')) #題目少了int()))
if not id in products:
  print('該產品並不存在')
else:
  print("產品名稱為："+ products[id])

輸入產品編號：2
產品名稱為：橡皮擦

9  
(變數型別)

In [ ]:
print(type(5))
print(type(8.0))
print(type("True"))
print(type(False))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>

10  
(型別轉換應用)

In [ ]:
#total = int(input("請輸入總數?")) #原來程式會有錯誤
total = eval(input("請輸入總數?"))
total = int(total)
print(total, type(total))

請輸入總數?100.1
100 <class 'int'>

11

In [ ]:
def reverse_str(oStr):
  reStr=""
  for index in range(len(oStr)-1, -1, -1): #(1)
    reStr += oStr[index] #(2)
  return reStr
print(reverse_str("Madam I'm Adam"))

madA m'I madaM

12  
(型別轉換)

In [ ]:
time_start = input("早上上班時間是幾點?")
time_end = input("下午下班時間是幾點?")
print("本日上班時間："+ str(int(time_end)-int(time_start))+"小時")

早上上班時間是幾點?9
下午下班時間是幾點?17
本日上班時間：8小時

13  
(字串取值)

In [ ]:
astr="abcdefghijklmnopqrstuvwxyz"
print(astr[5:20])
print(astr[5:20:3])
print(astr[20:5:-3])
print(astr[::-3])
print(astr[3:15:-1])

fghijklmnopqrst
filor
uroli
zwtqnkheb

14   
(list取值)

In [ ]:
members=list(range(1,51))
print(members)
#print(member[-5:0])無法執行 #A
print(members[0:-5]) #B
#members[1:-5 無法執行 #C
print(members[:-5]) #D
print(members[1:5]) #E

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45]
[2, 3, 4, 5]

15  
(list取值)

In [1]:
#本題要取出星期2,星期4,星期6
weeks=[1,2,3,4,5,6,7]
print(weeks[2:2])
print(weeks[::2])
print(weeks[1::2])
print(weeks[1:2])

[]
[1, 3, 5, 7]
[2, 4, 6]
[2]

16  
(算式表示)

In [4]:
x=eval(input("輸入一個數字："))
y=(x+7)**2
print(y)

輸入一個數字：10
289

17  
(not的應用)

In [7]:
def get_discount(kid, girl):
  discount = 0.2
  if not (kid or girl):
    discount=0
  return discount

print("discount=", get_discount(True,False))

discount= 0.2

18  
(Bool的應用)

In [11]:
print(0 or 2)
print(bool()) #轉換bool型態，沒參數回傳False
print(None == None)
print(-2<0<2)

2
False
True
True

19  
(運算子優先順序)

In [14]:
print((5*(1+2)**2-3+4/2))

44.0

20  
(變數應用)

In [12]:
a='Apple'
print(a)
b='Banana'
a+=b
b=a
print(a)
print(b)

Apple
AppleBanana
AppleBanana

21  
(運算子優先順序)

In [13]:
def calc(a,b,c,d):
  value=(a-b)/c+d
  return value
print(calc(1,1,1,2))

2.0

22  
(運算子優先順序)
() > ** > +- > * / > + - > or

23  
(for迴圈與if判斷式)

In [16]:
def count_word(word, words_list):
  count=0
  for keyword in words_list:
    if keyword == word:
      count+=1
  return count
words_list=['i','am','a','boy','you','are','a','girl']
word=input("你想要查詢哪個單字的數量?")
wtotal=count_word(word, words_list)
print("在文章中一共有':", wtotal,"個單字", word)

你想要查詢哪個單字的數量?a
在文章中一共有': 2 個單字 a

24  
(if判斷式應用)

In [17]:
ontime=input("機車是在晚上10點前返還的嗎? y或n:").lower() #轉小寫
days_rented = int(input("機車出租了幾天?"))
day_rented = input("機車是在星期幾出租的?").capitalize() #首字大寫
cost_per_day = 500
if ontime == 'n':
  days_rented += 1
if day_rented == 'Wednesday':
  total = (days_rented * cost_per_day) * 0.9
if day_rented == 'Saturday':
  total = (days_rented * cost_per_day) * 0.8
print("機車的租借費用為:$", total)

機車是在晚上10點前返還的嗎? y或n:y
機車出租了幾天?3
機車是在星期幾出租的?saturday
機車的租借費用為:$ 1200.0

25  
(if判斷式應用與None)

In [19]:
def do_times(n1,n2):
  if (n1 is None or n2 is None):
    return("你少填了被乘數與乘數")
  if (n1==0 or n2==0):
    return("你的乘數或被乘數為0")
  else:
    return n1*n2
print(do_times(None,2))
print(do_times(2,0))
print(do_times(2,3))

你少填了被乘數與乘數
你的乘數或被乘數為0
6

26  
(運算子應用)

In [20]:
a=21
b=5
print(a/b)
print(a//b)
print(a%b)

4.2
4
1

27  
(while迴圈應用)

In [23]:
x=0
while x<4:
  if x//3 == 1:
    print("Apple")
  elif x-2 == 0:
    print("Banana")
  elif x%3 == 0:
    print("Cherry")
  else:
    print("Fruit")
  x=x+1

Cherry
Fruit
Banana
Apple

28  
(list應用)

In [24]:
slist = ['a','b','c','d','e','f']
print('f' in slist)

True

29  
(==與is的應用)

In [25]:
aList = ['a','b','c','d','e']
bList = [1,2,3,4,5]
print(aList is bList)
print(aList == bList)
aList = [1,2,3,4,5]
print(aList is bList)
print(aList == bList)

False
False
False
True

30  
(if判斷式,==與!=的應用

In [28]:
num=eval(input("請輸入小於100, 大於或等於50的數字："))
if num < 100:
  if num >= 50:
    if num == 50: #原來的=是指定值
      print('數字等於50')
    else:
      print('數字在範圍內')
  else:
    print('數字小於50')
elif num != 100: #原來的<>是錯的
  print('數字大於100')
else:
  print('數字等於100')

請輸入小於100, 大於或等於50的數字：60
數字在範圍內

31  
(if elif else判斷式應用)

In [32]:
grade = int(input("請輸入分數："))
if grade >= 90:
  letter_grade = 'A'
elif grade >= 80:
  letter_grade = 'B'
elif grade >= 70:
  letter_grade = 'C'
elif grade >= 60:
  letter_grade = 'D'
else:
  letter_grade = 'E'
print("你的等級為：", letter_grade)

請輸入分數：55
你的等級為： E

33  
(if判斷式,邏輯與縮牌位置應用)

In [34]:
def reResult(a):
  if a>0:
    answer="值是正數"
  else:
    if a<0 :
      answer="值是負數"
    else:
      answer="值是零"
  return answer

print(reResult(2))
print(reResult(-2))
print(reResult(0))

值是正數
值是負數
值是零

34  
(if判斷式應用)

In [35]:
def ticket_fee(age,school):
  fee=0
  if age>=5 and school==True:
    fee=150
  if age>=5 and school==False:
    if age <= 17:
      fee=200
    else:
      fee=300
  return fee

print(ticket_fee(3, False))
print(ticket_fee(10, True))
print(ticket_fee(10, False))
print(ticket_fee(20, False))

0
150
200
300

35  
(if判斷式應用)

In [37]:
def is_digit(n):
  try:
    int(n)
    return True
  except ValueError:
    return False
num=input("請輸入一個正整數:")
if is_digit(num) and int(num)>0:
  num=int(eval(num))
  if num<10:
    digits="1"
  elif num<100:
    digits="2"
  else:
    digits=">2"
  print(digits + "位數.")
else:
  print("輸入值並不是數值或正整數")

請輸入一個正整數:1000
>2位數.

36  
(for迴圈應用與break, contine)

In [38]:
from random import randint
answer=randint(1,100) #1~99
print("猜一個從1到100的整數.你將有3次機會.")
print(answer)
for i in range(3):
  guess=int(input("請輸入一個整數："))
  if guess > answer:
    print("數字太大了，猜低一點")
  elif guess < answer:
    print("數字太小了，猜高一點")
  else:
    print("猜對了!")
print("終極密碼是", answer)

猜一個從1到100的整數.你將有3次機會.
62
請輸入一個整數：60
數字太小了，猜高一點
請輸入一個整數：64
數字太大了，猜低一點
請輸入一個整數：62
猜對了!
終極密碼是 62

37  
(if判斷式應用)

In [48]:
from random import randint
num=randint(1,100)
if num % 2 == 0:
  print("%d是偶數" % num) # %後填入要在字串顯示的值
else:
  print("%d是奇數" % num)

85是奇數

38  
(程式結構重組)

In [49]:
en_name=input("請輸入英文姓名：")
if en_name.upper() == en_name:
  print(en_name, "是全部大寫.")
elif en_name.lower() == en_name:
  print(en_name, "是全部小寫.")
else:
  print(en_name, "是大小寫混合.")

請輸入英文姓名：Tony
Tony 是大小寫混合.

39  
(for迴圈與continue)

In [55]:
salaryList=[10000, 24000, 30000, 5000, 14000]
for index in range(len(salaryList)): #答案有錯
  if salaryList[index]>15000:
    continue #continue直接進入下一個迴圈，不執行接下來的命令
  salaryList[index]=18000+2000
print(salaryList)

[20000, 24000, 30000, 20000, 20000]

40  
(range應用)
(答案選項錯誤)

In [56]:
def show_99(): 
  for x in range(1,10):
    for y in range(1,10):
      print("{}*{}={}".format(x,y,x*y))
    print() #空白行
show_99()

1*1=1
1*2=2
1*3=3
1*4=4
1*5=5
1*6=6
1*7=7
1*8=8
1*9=9

2*1=2
2*2=4
2*3=6
2*4=8
2*5=10
2*6=12
2*7=14
2*8=16
2*9=18

3*1=3
3*2=6
3*3=9
3*4=12
3*5=15
3*6=18
3*7=21
3*8=24
3*9=27

4*1=4
4*2=8
4*3=12
4*4=16
4*5=20
4*6=24
4*7=28
4*8=32
4*9=36

5*1=5
5*2=10
5*3=15
5*4=20
5*5=25
5*6=30
5*7=35
5*8=40
5*9=45

6*1=6
6*2=12
6*3=18
6*4=24
6*5=30
6*6=36
6*7=42
6*8=48
6*9=54

7*1=7
7*2=14
7*3=21
7*4=28
7*5=35
7*6=42
7*7=49
7*8=56
7*9=63

8*1=8
8*2=16
8*3=24
8*4=32
8*5=40
8*6=48
8*7=56
8*8=64
8*9=72

9*1=9
9*2=18
9*3=27
9*4=36
9*5=45
9*6=54
9*7=63
9*8=72
9*9=81

41  
(程式結構重組)

In [62]:
n=2
while n<=50:
  is_prime=True
  for i in range(2,n):
    if n % i ==0:
      is_prime=False
      break
  if is_prime==True:
    print(n) #p是錯誤的
  n+=1

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47

42  
(程式結構重組)

In [64]:
def Whoisbigger(numberList, number): #少了def
  for i in range(len(numberList)):
    if numberList[i] > number:
      print("{0}清單中找到比{1}大的值".format(numberList,number))
      break
    else:
      print("{0}清單中找不到比{1}大的值".format(numberList,number))
Whoisbigger([1,2,3,4,5,6], 3)

[1, 2, 3, 4, 5, 6]清單中找不到比3大的值
[1, 2, 3, 4, 5, 6]清單中找不到比3大的值
[1, 2, 3, 4, 5, 6]清單中找不到比3大的值
[1, 2, 3, 4, 5, 6]清單中找到比3大的值

43  
(while迴圈應用)

In [65]:
p_no="flag" #第一次進入while使用，任何非空值之字串皆可以
group=""
while p_no != "": #不輸入值即可跳開
  valid=False
  p_no=input("請輸入產品編號(dddd-dd):")
  group=p_no.split('-')
  if len(group)==2: #group被-分開成2群
    if len(group[0])==4 and len(group[1])==2:
      if group[0].isdigit() and group[1].isdigit():
        valid=True
  print(valid)

請輸入產品編號(dddd-dd):1-2-3
False
請輸入產品編號(dddd-dd):fddd-11
False
請輸入產品編號(dddd-dd):111-222
False
請輸入產品編號(dddd-dd):1111-22
True
請輸入產品編號(dddd-dd):
False

44  
(while迴圈應用)

In [66]:
numList=range(10) #[0,1,2,3,4,5,6,7,8,9]
num=0
while (num<10):
  print(numList[num])
  if numList[num] == 8:
    break
  else:
    num +=1

0
1
2
3
4
5
6
7
8

45  
(os開檔、寫檔)

In [71]:
import os
if os.path.isfile('usefile.txt'):
  file=open('usefile.txt')
  print(file.read())
  file.close()
else: #題目少了這一行
  file=open('usefile.txt','a') #a是新增檔案, a+是附加檔案
  file.write('這是檔尾')
  file.close

這是檔尾

46  
(os開檔)

In [76]:
import os
def get_file_content(usefile):
  if os.path.isfile(usefile):
    with open(usefile, 'r') as file:
      return file.read() #題目usefle.read()是錯誤的
  else:
    return "檔案不存在"

get_file_content("usefile.txt")

'這是檔尾'

47  
(開檔屬性應用)
(r:讀取, a:附加, w:寫入)
(r+:除了讀取，還有寫入功能，檔案不存在會回傳error)
(a+:除了附加,還有讀取功能)
(w+:除了寫入,還有讀取功能,和r+不同處在於檔案不存在會新增一個檔)

48  
(開檔讀資料)
(需新增一個staffs.txt檔案)

In [84]:
import os #題目忘了這行
staffs = open("staffs.txt", 'r')
eof=False
while eof==False:
  line=staffs.readline()
  if line != '':
    if line != "\n":
      print(line.strip()) #strip()去除頭尾空白
  else:
    print("檔案結束")
    eof=True
staffs.close()

'Sales', 1, 'John'
'Sales', 2, 'Mary'
檔案結束

49  
(input與格式應用)

In [92]:
star=star_count=star_done=0
star_average=0.0
while (star_done!=-1):
  star_rating=float(input("請輸入評等(1-5),完成請輸入-1：")) #題目star拼錯
  if star_rating == -1:
    break
  star += star_rating
  star_count += 1
star_average = float(star/star_count)
print("餐廳的平均星等是：{}".format(star_average, '.2f')) #少了{},format少了一個.

請輸入評等(1-5),完成請輸入-1：1
請輸入評等(1-5),完成請輸入-1：2
請輸入評等(1-5),完成請輸入-1：3
請輸入評等(1-5),完成請輸入-1：-1
餐廳的平均星等是：2.0

50   
(fomat格式應用)

In [100]:
import datetime
data=datetime.datetime(2019,5,16)
print('{:%y-%m-%d}'.format(data))
num=12345.6789
print('{:,.2f}'.format(num)) #:靠左對齊,三位數加一個逗號2f:兩位小數點

19-05-16
12,345.68